<a href="https://colab.research.google.com/github/yuj0630/Catholic_Regacy/blob/main/apart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
pip install PublicDataReader --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PublicDataReader
  Downloading PublicDataReader-1.0.6-py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 6.8 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from PublicDataReader) (1.21.6)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from PublicDataReader) (4.6.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from PublicDataReader) (4.9.2)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from PublicDataReader) (2.23.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from PublicDataReader) (1.3.5)
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->PublicDataReader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->PublicDataReader) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->PublicDataReader) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->PublicDataReader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->PublicDataReader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->PublicDataReader) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->PublicDataReader) (2.10)
Installing collected packages: xmltodict, PublicDataReader
Successfully installed PublicDataReader-1.0.6 xmltodict-0.13.0

In [ ]:
import PublicDataReader as pdr
print(pdr.__version__)

1.0.6

In [ ]:
# 2.공공 데이터 포털 OpenAPI 인증키 입력하기
serviceKey = "RIAUQmjzO9F%2BbEEVKESgWpfreLLdJfCtqpazkDG2y6I4OIxVwPCPI1oGN8tcxHuHSMgWDyOq%2F2a25odOmHiY0g%3D%3D"

# 3. 국토교통부 실거래가 정보 조회 API 섹션 정의하기
ts = pdr.Transaction(serviceKey, debug=True)

[INFO] 아파트 매매 조회 서비스 정상 - (00) NORMAL SERVICE.
INFO:root:아파트 매매 조회 서비스 정상 - (00) NORMAL SERVICE.
[ERROR] 아파트 전월세 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
ERROR:root:아파트 전월세 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
[ERROR] 오피스텔 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
ERROR:root:오피스텔 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
[ERROR] 오피스텔 전월세 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
ERROR:root:오피스텔 전월세 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
[ERROR] 단독다가구 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
ERROR:root:단독다가구 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
[ERROR] 단독다가구 전월세 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
ERROR:root:단독다가구 전월세 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
[ERROR] 연립다세대 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
ERROR:root:연립다세대 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
[ERROR] 연립다세대 전월세 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
ERROR:root:연립다세대 전월세 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
[ERROR] 상업업무용 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
ERROR:root:상업업무용 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
[ERROR] 토지 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
ERROR:root:토지 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
[ERROR] 분양입주권 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
ERROR:root:분양입주권 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
[ERROR] 공장창고등 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.
ERROR:root:공장창고등 매매 조회 서비스 오류 - (99) SERVICE ACCESS DENIED ERROR.

In [ ]:
# 4. 지역코드(시군구코드) 검색하기
sigunguName = "분당구"
code = pdr.code_bdong()
code.loc[(code['시군구명'].str.contains(sigunguName, no=False)) &
         (code['읍면동명'].isna())]

TypeError: ignored

In [ ]:
# 5. 지역, 월 별 데이터프레임 만들기
prod="아파트"
trans="매매"
sigunguCode="41135"
YearMonth="202101"

df = ts.read_data(prod, trans, sigunguCode, YearMonth)
df

,지역코드,도로명,법정동,지번,아파트,건축년도,층,전용면적,년,월,...,법정동본번코드,법정동부번코드,법정동시군구코드,법정동읍면동코드,법정동지번코드,일련번호,거래유형,중개사소재지,해제사유발생일,해제여부
0,41135,수내로,분당동,38,샛별마을(우방),1994,8,84.990,2021,1,...,0038,0000,41135,10100,1,41135-21,,,,
1,41135,수내로,분당동,38,샛별마을(우방),1994,4,84.990,2021,1,...,0038,0000,41135,10100,1,41135-21,,,,
2,41135,장안로41번길,분당동,66,장안타운(건영),1993,17,162.850,2021,1,...,0066,0000,41135,10100,1,41135-32,,,,
3,41135,분당로,분당동,34,샛별마을(라이프),1992,6,126.415,2021,1,...,0034,0000,41135,10100,1,41135-19,,,,
4,41135,수내로,분당동,39,샛별마을(삼부),1992,6,69.960,2021,1,...,0039,0000,41135,10100,1,41135-20,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,41135,판교원로82번길,운중동,918,산운마을13단지(태영),2010,18,101.650,2021,1,...,0918,0000,41135,11500,1,41135-477,,,,
371,41135,판교원로82번길,운중동,918,산운마을13단지(태영),2010,30,101.670,2021,1,...,0918,0000,41135,11500,1,41135-477,,,,
372,41135,판교원로82번길,운중동,918,산운마을13단지(태영),2010,24,101.670,2021,1,...,0918,0000,41135,11500,1,41135-477,,,,
373,41135,판교원로,운중동,922,산운마을11단지(주공),2009,1,59.840,2021,1,...,0922,0000,41135,11500,1,41135-466,,,,
374,41135,판교원로,운중동,922,산운마을11단지(주공),2009,7,59.840,2021,1,...,0922,0000,41135,11500,1,41135-466,,,,

Warning: Total number of columns (28) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df.to_excel('result_202110.xlsx')

In [ ]:
# 6. 지역, 기간 별 데이터프레임 만들기
prod="아파트"
trans="매매"
sigunguCode="41135"
startYearMonth="202101"
endYearMonth="202111"

df = ts.collect_data(prod, trans, sigunguCode, startYearMonth, endYearMonth)
df

[INFO] 아파트 매매 202101 조회 시작
INFO:root:아파트 매매 202101 조회 시작
[INFO] 아파트 매매 202102 조회 시작
INFO:root:아파트 매매 202102 조회 시작
[INFO] 아파트 매매 202103 조회 시작
INFO:root:아파트 매매 202103 조회 시작
[INFO] 아파트 매매 202104 조회 시작
INFO:root:아파트 매매 202104 조회 시작
[INFO] 아파트 매매 202105 조회 시작
INFO:root:아파트 매매 202105 조회 시작
[INFO] 아파트 매매 202106 조회 시작
INFO:root:아파트 매매 202106 조회 시작
[INFO] 아파트 매매 202107 조회 시작
INFO:root:아파트 매매 202107 조회 시작
[INFO] 아파트 매매 202108 조회 시작
INFO:root:아파트 매매 202108 조회 시작
[INFO] 아파트 매매 202109 조회 시작
INFO:root:아파트 매매 202109 조회 시작
[INFO] 아파트 매매 202110 조회 시작
INFO:root:아파트 매매 202110 조회 시작
[INFO] 아파트 매매 202111 조회 시작
INFO:root:아파트 매매 202111 조회 시작

,지역코드,도로명,법정동,지번,아파트,건축년도,층,전용면적,년,월,...,법정동본번코드,법정동부번코드,법정동시군구코드,법정동읍면동코드,법정동지번코드,일련번호,거래유형,중개사소재지,해제사유발생일,해제여부
0,41135,수내로,분당동,38,샛별마을(우방),1994,8,84.9900,2021,1,...,0038,0000,41135,10100,1,41135-21,,,,
1,41135,수내로,분당동,38,샛별마을(우방),1994,4,84.9900,2021,1,...,0038,0000,41135,10100,1,41135-21,,,,
2,41135,장안로41번길,분당동,66,장안타운(건영),1993,17,162.8500,2021,1,...,0066,0000,41135,10100,1,41135-32,,,,
3,41135,분당로,분당동,34,샛별마을(라이프),1992,6,126.4150,2021,1,...,0034,0000,41135,10100,1,41135-19,,,,
4,41135,수내로,분당동,39,샛별마을(삼부),1992,6,69.9600,2021,1,...,0039,0000,41135,10100,1,41135-20,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2711,41135,판교원로82번길,운중동,918,산운마을13단지(태영),2010,1,84.9200,2021,11,...,0918,0000,41135,11500,1,41135-477,중개거래,경기 성남분당구,22.05.07,O
2712,41135,판교원로,운중동,921,산운마을12단지(주공),2009,2,55.4400,2021,11,...,0921,0000,41135,11500,1,41135-457,중개거래,"경기 성남분당구, 경기 이천시, 서울 성북구",,
2713,41135,판교원로81번길,운중동,949,산운마을10단지(대광로제비앙),2009,13,59.9410,2021,11,...,0949,0000,41135,11500,1,41135-443,중개거래,경기 성남분당구,,
2714,41135,판교대장로5길,대장동,지구BL 11,판교더샵포레스트11단지,2021,10,84.9852,2021,11,...,0011,0000,41135,11600,7,41135-591,중개거래,경기 성남분당구,,
2715,41135,판교대장로7길,대장동,가-,힐스테이트판교엘포레A6BL,2021,5,128.2160,2021,11,...,0000,0000,41135,11600,3,41135-595,직거래,,,

In [ ]:
df.to_excel('result_202110.xlsx')